@use 'styles/colors';

.root {
	display: flex;
	align-items: center;
	margin-right: 16px;
	padding: 8px 12px;
	font-size: 16px;
	color: white;
	background: colors.$pink;
	box-shadow: 0 0 10px 0 colors.$pink;
	border-radius: 8px;
	transition: background 0.3s;

	&:hover {
		background: none;
	}
}

.icon {
	margin-right: 8px;
}
