@use 'styles/colors';
@use 'styles/spinner';

.root {
	display: flex;
	flex-direction: column;
	max-width: 95%;
	width: 600px;
	max-height: 95%;
	height: 450px;
	overflow: hidden;
	background: colors.$background;
	border: 1px solid colors.$border;
	border-radius: 8px;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.pals {
	flex-grow: 1;
	padding: 8px 16px 12px;
	overflow-y: auto;
}

.spinner {
	@include spinner.options(20px, 3px, white);

	margin: auto;
}
