@use 'styles/spinner';

.spinner,
.options,
.activePals,
.pals {
	flex-shrink: 0;
}

.root {
	display: flex;
	align-items: center;
	margin: 0 auto;
	padding: 0 16px;
}

.name {
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	font-size: 20px;
	font-weight: 900;
	color: white;
	background: none;
	text-shadow: 0 0 5px transparentize(white, 0.5);

	&:hover {
		text-decoration: underline;
	}
}

.spinner {
	@include spinner.options(18px, 3px, white);
}
