.root {
	justify-content: center;
	align-items: center;
	padding: 30px;
	text-align: center;
	color: white;
}

.title {
	font-size: 40px;
}

.description {
	margin-top: 16px;
	font-size: 20px;
	opacity: 0.7;
}
