@use '~@fortawesome/fontawesome-svg-core/styles';
@use '~react-toastify/dist/ReactToastify';
@use '~balloon-css/src/balloon';

@use 'styles/font';
@use 'styles/colors';

@font-face {
	font-family: OperatorMono;
	src: url('/fonts/OperatorMono.otf') format('opentype');
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

html,
body,
#__next {
	height: 100%;
}

body {
	overflow: hidden;
}

body,
::before,
::after {
	font-family: font.$family;
}

pre,
code,
input,
textarea,
button {
	font-family: inherit;
}

button {
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

.Toastify__toast {
	font-family: inherit;
	font-weight: bold;
	padding-left: 16px;
	border-radius: 5px;
}

[data-balloon-pos] {
	&::before {
		content: none !important;
	}

	&::after {
		margin-bottom: 16px !important;
		font-family: font.$family !important;
		font-size: inherit !important;
		background: colors.$background !important;
		border: 1px solid colors.$border !important;
		border-radius: 8px !important;
	}
}
