@use '~@fortawesome/fontawesome-svg-core/styles';
@use '~react-toastify/dist/ReactToastify';

@font-face {
	font-family: OperatorMono;
	src: url('/fonts/OperatorMono.otf') format('opentype');
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

html,
body,
#__next {
	height: 100%;
}

body {
	overflow: hidden;
}

body,
::before,
::after {
	font-family: OperatorMono, monospace;
}

pre,
code,
input,
textarea,
button {
	font-family: inherit;
}

button {
	cursor: pointer;

	&:disabled {
		cursor: default;
	}
}

.Toastify__toast {
	font-family: inherit;
	font-weight: bold;
	padding-left: 16px;
	border-radius: 5px;
}
