@use 'styles/spinner';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4px;
}

.title {
	color: white;
}

.spinner {
	@include spinner.options(16px, 3px, white);
}

.input {
	display: block;
	width: 100%;
	padding: 5.5px 10px;
	font-size: 16px;
	color: white;
	background: transparentize(white, 0.9);
	border-radius: 8px;
	transition: background 0.3s;

	&::placeholder {
		color: transparentize(white, 0.5);
	}

	&:not(:disabled) {
		&:hover,
		&:focus {
			background: transparentize(white, 0.8);
		}
	}
}
