@use 'styles/colors';
@use 'styles/spinner';

.root {
	width: 350px;
	padding: 12px 16px;
	background: colors.$background;
	border: 1px solid colors.$border;
	border-radius: 8px;
}

.signOut {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 20px 0 4px;
	padding: 4px 8px;
	font-size: 16px;
	color: white;
	background: colors.$orange;
	box-shadow: 0 0 10px 0 colors.$orange;
	border-radius: 8px;
	transition: background 0.3s;

	&:not(:disabled):hover {
		background: none;
	}
}

.signOutIcon,
.signOutSpinner {
	margin-right: 8px;
}

.signOutSpinner {
	@include spinner.options(16px, 3px, white);
}
