@use 'styles/colors';

.title,
.profile,
.logIn,
.signUp {
	flex-shrink: 0;
}

.root {
	grid-area: navbar;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 12px 16px;
	border-bottom: 1px solid colors.$border;
}

.title {
	text-decoration: none;
	font-size: 30px;
	font-weight: 900;
	color: white;
	transform: translateY(-4px);

	&:hover {
		text-decoration: underline;
	}
}

.items {
	flex-grow: 1;
	display: flex;
	align-items: center;
}

.logIn,
.signUp {
	height: 35px;
	padding: 0 12px;
	font-size: 18px;
	font-weight: 900;
	color: white;
	background: var(--color);
	box-shadow: 0 0 10px 0 var(--color);
	border-radius: 8px;
	transition: color 0.3s, background 0.3s;

	&:hover {
		color: var(--color);
		background: none;
	}
}

.logIn {
	--color: #{colors.$green};
}

.signUp {
	--color: #{colors.$pink};

	margin-left: 12px;
}
