@use 'styles/colors';
@use 'styles/spinner';

.root {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 12px 16px;
}

.title {
	color: white;
	transform: translateY(-2px);
}

.button {
	$dimension: 26px;

	display: flex;
	justify-content: center;
	align-items: center;
	width: $dimension;
	height: $dimension;
	overflow: hidden;
	font-size: $dimension;
	color: colors.$pink;
	background: white;
	box-shadow: 0 0 10px 0 colors.$pink;
	border-radius: 50%;
	transition: opacity 0.3s;

	&[aria-busy='true'] {
		pointer-events: none;
		background: none;
		box-shadow: none;
	}

	&:hover {
		opacity: 0.7;
	}
}

.spinner {
	@include spinner.options(20px, 3px, white);
}
